#mainsection-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  font-family: "Inter";
}

#mainsection-input {
  width: 85%;
  max-width: 876px;
}

#frequent-commands--container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frequent-commands--container > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

#commands {
  display: flex;
  align-items: center;
  margin-top: 18px;
  max-width: 85vw;
  flex-wrap: wrap;
}

#merlin-response--container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#merlin-response {
  width: 85%;
  min-height: 223px;
  border: 1px solid #334155;
  border-radius: 16px;
  margin-top: 64px;
  max-width: 876px;
}

#merlin-header {
  width: 100%;
  padding: 10px 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #334155;
}

#response {
  width: 100%;
  min-height: 133px;

  padding: 15px 23px;
  /* animation: typing 1s steps(40) infinite; */
}
#typing-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  border-right: 0.15em solid #333333;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#input-container {
  background: 
    linear-gradient(rgb(27, 27, 27) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570, #FF008280) border-box;
  color: #fff;
  padding: 14px 16px;
  border: 2px solid transparent;
  border-radius: 8px;

}

#chrome {
  
  
  background: 
    linear-gradient(rgb(27, 27, 27) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570, #FF008280) border-box;
  color: #fff;
  padding: 14px 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  
  margin-right: 16px;
  
  display: flex;
  align-items: center;
  font-weight: 400;
}

#firefox {
  background: 
    linear-gradient(rgb(27, 27, 27) 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570, #FF008280) border-box;
  color: #fff;
  padding: 14px 16px;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
 
}

#browser-extensions {
  display: flex;
  margin-top: 24px;
}
