/* #header-container{} */
#header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://www.figma.com/file/kq5wtRFw416vVh0JKg6aRz/Foyer-Developer-Assignment?node-id=13%3A1150&t=H36CrNmUvYvIFYkh-4");
}

#header {
  width: 85%;
  max-width: 452px;
  height: auto;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  text-align: center;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18.53px;
}

@media (max-width:468px){
  #description{
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
  }
}